@import "~bootstrap/scss/bootstrap.scss";


$font-color: #d3d3d3;
$border-color: #939393;
$background-color: #2b2b2b;

html, body, .container {
  color: $font-color;
  background: $background-color;
  font-family: "Lucida Console", monospace;

  code {
    color: $font-color;
  }

  table th, td {
    border: 1px solid $border-color;
    padding: 1px 1px 1px 1px;
  }
;

  .copyright {
    font-size: 8pt;
  }
}

